/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*
/storage
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
vendor
/vendor
/vendor/*
.DS_Store
public/.DS_Store
storage/framework/*
storage/logs/*
storage/app/*